<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unsplash_api_key</key>
	<string>AIzaSyBhrR4Ta7AvjAShuZklMwBULR2_2sNUfCE</string>
	<key>GCM_SENDER_ID</key>
	<string>94893101359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shping.photoalbum</string>
	<key>PROJECT_ID</key>
	<string>prename-photo</string>
	<key>STORAGE_BUCKET</key>
	<string>prename-photo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94893101359:ios:3785b8cf78856004de11da</string>
</dict>
</plist>